header {
  background-color: lightgray;
  display         : flex;
  justify-content : space-between;
  padding         : 20px;

  .navigation {
    display    : flex;
    align-items: center;
    font-size  : 20px;

    a {
      margin-left   : 20px;
      padding-bottom: 10px;
    }

    .active {
      border-bottom: 5px solid red;
    }
  }
}
