.mainInfo {
  overflow: auto;

  img {
    float       : left;
    margin-right: 20px;
  }
}

.button {
  margin: 20px 2px;
}

ul {
  padding-left: 10px;

  li {
    list-style: none;
  }
}

p {
  color: gray;
}
