* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: #099b09;
    }
}
